./Anthill/.idea
./Anthill/.gradle
./Anthill/build

Anthill/.gradle/7.4.1/executionHistory/executionHistory.bin
Anthill/.gradle/7.4.1/executionHistory/executionHistory.lock
Anthill/.gradle/7.4.1/fileHashes/fileHashes.bin
Anthill/.gradle/7.4.1/fileHashes/fileHashes.lock
Anthill/.gradle/7.4.1/fileHashes/resourceHashesCache.bin
Anthill/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Anthill/build/classes/java/main/anthill/Anthill/controller/MemberController.class
Anthill/build/tmp/compileJava/previous-compilation-data.bin
